<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Node Vue Web">
        <link rel="icon" href="" />
        <link rel="stylesheet" href="client/resources/css/font.css">
        <link rel="stylesheet" href="client/resources/css/reset.css">
        <link rel="stylesheet" href="client/resources/css/layout.css">
        <link rel="stylesheet" href="client/resources/css/style.css">
        <link rel="stylesheet" href="client/resources/css/common.css">
        <link rel="stylesheet" href="client/resources/css/component.css">
        <link rel="stylesheet" href="client/resources/css/responsive.css">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0ce0e453c355a19b4363d5c754e690ab&libraries=clusterer"></script>

        <script src="https://kit.fontawesome.com/9f862d56b3.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.1/jsmpg.js"></script>
        <title>AI 관제 카메라</title>
    </head>

    <body>
        <div id="root"></div>
        <script src="/client/build/bundle.js"></script>
    </body>
</html>
