@charset "utf-8";

/* box 공통 */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-box {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap !important;
}

.left-content,
.right-content {
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.content:last-child {
    margin-bottom: 0;
}

.content-zone {
    border: 1px solid #eee;
    padding: 10px;
    height: calc(100% - 50px);
    min-height: 300px;
    overflow: auto;
}

.left-content,
.right-content,
.row,
.content {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.row{
    padding: 0;
}

.form-box {
    background-color: #edf0ff;
    border: 1px solid #dbe3fb;
}

.border{
    border: 1px solid #eee;
    border-radius: 5px;
}

/* title 공통 */
.page-titleZone {
    margin-bottom: 10px;
}

.main-title {
    font-family: 'GmarketSansB';
    font-size: 2rem;
    color: #213f99;
}

.content-titleZone {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 15px;
}

.box-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 테이블 공통 */
.table-zone{
    padding: 15px 0;
}
.list-table,
.form-table {
    border-bottom: 1px solid #aaa;
}
.list-table th,
.list-table td,
.form-table th{
    text-align: center;
}
.list-table th,
.list-table td,
.form-table th, 
.form-table td {
    border-top: 1px solid #aaa;
}

.list-table thead tr {
    background-color: #dbe3fb;
    color: #213f99;
}

.list-table.orange thead tr {
    background-color: #f29600;
    color: #fff;
}
.list-table tbody tr{
    cursor: pointer;
}
.list-table tbody tr:nth-child(even) {
    background-color: #f4f6ff;
}

.list-table.orange tbody tr:nth-child(even) {
    background-color: #fff2de;
}

.form-table th {
    color: #213f99;
    text-align: center;
    background-color: #dbe3fb;
}

.form-table2 th {
    color: #213f99;
    text-align: center;
}

.option-table th {
    color: #213f99;
}

.list-info{
    margin-bottom: 10px;
}

.no-list{
    text-align: center;
    font-size: 1.4rem;
    line-height: 120px;
}
/* 서치바 공통 */
/* .table-zone */
.searchbar-zone {
    width: 100%;
    margin-bottom: 10px;
}

/* 기본 서치바 */
.search-square {
    position: relative;
    margin-left: 5px;
}

.square-date,
.square-select {
    width: 150px;
}

.square-input {
    color: #646464;
    padding: 6px 10px;
    border-radius: 5px;
    width: 300px;
    transition: all ease-in-out .5s;
}

.square-input:hover,
.square-input:focus {
    box-shadow: 0 0 1em #00000013;
}

.square-input:focus {
    outline: none;
    background-color: #f0eeee;
}

.square-input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.square-input:focus {
    background-color: #f0eeee;
}

.square-button {
    border: none;
    margin-left: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.square-button:hover {
    cursor: pointer;
}

.square-icon {
    color: #b4b4b4;
}

.full-input,
.full-select{
    width: 100%;
}

.half-input,
.half-select{
    width: 50%;
}



/* 기타 공통 */
.coupler {
    font-size: 1.4rem;
    margin-left: 5px;
}

.option-title {
    padding: 0 5px;
    font-size: 1.4rem;
    color: #213f99;
    margin-left: 5px;
}

.count-zone {
    font-size: 1.4rem;
}

.count-zone span {
    font-weight: 900;
    color: #213f99;
}


/* 모달 */
.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modal-container {
    background: #fff;
    min-width: 500px;
    width: 50%;
    height: 90%;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    padding: 20px;
    box-sizing: border-box;
    max-height: 95%;
    min-height: 500px;
}

.modal-title {
    width: 100%;
    border-bottom: 1px solid #d4cccc;
    padding: 10px 0;
}

.modal-subtitle {
    font-size: 1.4rem;
    font-weight: 600;
}

.modal-content-monthly {
    width: 100%;
    padding: 20px 0;
    overflow-y: auto;
}

.large-modal{
    width: 90%;
}
.small-modal {
    min-width: 200px;
    min-height: 200px;
    width: 20%;
    height: auto;
    max-height: 50%;
}

.list-modal {
    width: 80%;
    height: 80%;
}

.alert-write {
    font-size: 1.6rem;
    line-height: 180%;
}


.modal-content-monthly::-webkit-scrollbar {
    width: 10px;
}

.modal-content-monthly::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.modal-content-monthly::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.modal-end {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.alert-modal .modal-end button,
.small-modal .modal-end button {
    margin-left: 0;
}


/* 탭 */
.tab-nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.tab-nav li a {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    border-right: 1px solid #eee;
    padding: 0 10px;
}

.tab-nav li a.activeTab {
    color: #213f99;
    font-weight: 600;
}

.tab-nav li:last-child a {
    border-right: 0;
}


/* 라벨 css(상세 조회랑 다름) */
.chekck-type {
    display: none;
}

.chekcktype-label {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #d6def6;
    color: #213f99;
}

.chekck-type:checked+label {
    background-color: #213f99;
    color: #fff;
}


.padding-main{
    padding: 20px;
}
.map-main{
    padding: 0px !important;
}

/* control page */
#map {
    position: relative;
  
}

.map-menu {
    position: absolute;
    z-index: 10;
    background-color: #f8f9fe;
    overflow: hidden;
    top: 30px;
    left: 51px;
    width: 78px;
    height: 425px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #33333365;
}

.map-notice {
    position: absolute;
    z-index: 10;
    background-color: #f8f9fe;
    top: 30px;
    right: 51px;
    width: 616px;
    height: 150px;
    padding: 0 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #33333365;
}

.menu-tab {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;

}

.tab-nav {
    border-top: 0px;
    border-bottom: 0px;
}

.tab-nav li a {
    padding: 1rem 0;
    border-right: 0px;
}

.tab-nav li a.activeTab {
    color: white;
    background-color: var(--color-blue);
    border-radius: 1rem;
    padding: 1rem 0;
}

.tab-navinner li a.activeTabinner {
    color: white;
    background-color: var(--color-blue);
    border-radius: 1rem;
    padding: 1rem 0;
}

.navbar .list-item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1rem 0;
}

.navbar .list-item li {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    position: relative;
    align-items: center;
    padding: 1rem 0;

}

.navbar .list-item li.active {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1rem;
    width: 90%;
    position: relative;
    left: 11%;
    background-color: var(--color-blue);
    color: white;
    padding: 1rem 0;
}

.navbar .list-item li.active a {
    color: white;
    padding: 0.5rem 0;
}

.navbar .list-item li.active::before {
    position: absolute;
    content: '';
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--color-blue);
    box-shadow: 5px 5px 0 5px var(--color-blue);
    background: transparent;
}

.navbar .list-item li.active::after {
    position: absolute;
    content: '';
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    background-color: var(--color-blue);
    box-shadow: 5px -5px 0 5px var(--color-blue);
    background: transparent;
}

.navbar .list-item li a {
    font-size: 1.3rem;
}

.map-modal-wrap {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 150px;
    width: 560px;
    background-color: white;
    padding: 2.4rem 3.4rem;
    min-height: 465px;
    max-height: 93%;
    overflow-y: auto;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #33333365;

}

.map-modal-wrap p {
    font-size: 1.7rem;
    font-family: 'Pretendard';
    font-weight: 600;
    padding: 1.3rem 0;
}



#map .mapContent {
    width: 100%;
    height: 450px;
}

.map-input-path {
    position: relative;
}

.map-input-path>.icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.content-tab1.activeTab {
    display: none;
}

.tab-content-control {
    height: 50%;
    overflow-y: auto;
}

.tab-content-control li {
    padding: 1px 0;
}

.tab-content-control a {
    font-size: 1.7rem;
    padding: 0.5px;
}

.control-button button {
    margin-left: 0px;
}

.map-close-modal {
    border: 1px solid var(--color-gray);
    border-radius: 10rem;
    width: 50px;
    height: 50px;
}

.buttonArea {
    margin-top: 2rem;
}

.modal-container {
    width: 38%;
    height: 90%;
}

.modal-content-monthly {
    padding: 20px 20px;
}



/* paginationButton */

/*PAGINATION NEW START*/
.component-pagination {
	padding: 15px 0;
}

.pagination-button-type {
	display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-button-type a {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 5px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

/* 정우추가 */
.pagination-button-type a.prev:after {
	content: "\003C";
	font-family: 'KoPub_Dotum';
	font-weight: 900;
}

.pagination-button-type a.next:after {
	content: "\003E";
	font-family: 'KoPub_Dotum';
	font-weight: 900;
}

.pagination-button-type a.first-page:after {
	content: "\003C\003C";
	font-family: 'KoPub_Dotum';
	font-weight: 900;
}

.pagination-button-type a.end-page:after {
	content: "\003E\003E";
	font-family: 'KoPub_Dotum';
	font-weight: 900;
}

.pagination-button-type a.active {
	background-color: #213f99;
	color: #fff;
	cursor: default !important;
	border-radius: 50px;
}

.pagination-button-type a:hover:not(.active) {
	background-color: #213f99;
	color: #fff;
	border-radius: 50px;
}

.pagination-button-type a:first-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.pagination-button-type a:last-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*PAGINATION NEW END*/

@media screen and (max-width:479px) {
	.pagination-button-type a {
		margin: 3px;
	}}