<component name="ArtifactManager">
  <artifact type="war" name="spring-legacy-project:war">
    <output-path>$PROJECT_DIR$/back-end/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-legacy-project</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="ROOT.war">
      <element id="artifact" artifact-name="spring-legacy-project:war exploded" />
    </root>
  </artifact>
</component>